  <ul class="pagination">	
    <li>
    <%if(!isFirst){%>
      <a href="/index/?page=<% (pagenow-1) %>" aria-label="Previous">
    <%}%>
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
		 <% for(var i = 0;i< total ;i++) { %>
				<li><a href="/index/?page=<%= (i+1) %>"><%= (i+1) %></a></li>
		<% } %>
    <li>
    <%if(!isLast){%>
      <a href="/index/?page=<%= total %>" aria-label="Next">
    <%}%>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>

