<% if(notices){notices.forEach(function(notice,index){%>  
<div class="panel panel-default ">
  <div class="panel-body">
    <h3>
      <%= notice.title %></h3>
    <p>
      <%- notice.content %></p>
    <p>
      <%= notice.time %></p>
  </div>
</div>
<% })} %>  
<div class="panel panel-default">
  <div class="panel-body">
    <h1>广告</h1>
    Panel content
  </div>
  <div class="panel-footer">在nljshoxbb上投放广告</div>
</div>