<div class=" dashboard">
	<% var url = null;
		if(user){
			url = user.head;
		}else{
			url = 'imgs/logo.jpg';
		}%>

	<div class="dashboard-bg"></div>
	<div class="dashboard-content">
		<div class="dashboard-avatar">
			<a href="/user?name=<%=user.name%>"><img src="/images/headImg.png" alt=""></a>
		</div>
		<div class="dashboard-username">
			<a href="/user?name=<%= user.name %>"><%=user.name %></a>
		</div>
		<ul class="dashboard-user-detail">
			<li>
				<a href="#">
					<span>文章数</span>
					<span class="dashboard-user-detail-n"><%= paperCount %></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span>关注者</span>
					<span class="dashboard-user-detail-n">0</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<br>
<div class="panel trend">
	<div class="panel-heading">
		<h3>趋势</h3><span>最近加入</span>
	</div>
	<div class="panel-body">
		
	</div>
</div>

