// ==========color=========== //
/* 主色 */
$main-color:#b97849;
/* 配色 */
$sm-color:#5f3912;
$bg-color:#f5f8fa;
/* logo色 */
$logo-color:#2c3e50;
$logo-span-color:#1dd2af;
/* 弹窗头部背景色 */
$pop-color:#5f3912;
$title-color:#66757f;
$border-color:#dddddd;
$footer-color:#343434;
$dashed-color:#b97849;
$danger-color:#f7b940;