.container{
	margin-top: 20px;
	position: relative;
}
.postArticle{
	opacity: 0;
	margin: 0 5px;
	top: 0;
	z-index: 5;
	background-color: $main-color;
	color: #fff;
	@include trans(.3s);
	&:hover{
		color: #fff;
		background-color: $sm-color;
	}
}
.middle{

	.panel{
		border: 1px solid $border-color;
		border-bottom: none;
		border-radius: 5px;
		margin-bottom: 0;
		@include trans(.2s);
		
		.panel-heading{
			border-bottom: none;
			a{

				font-size: 16px;
				font-weight: bold;
				color: $main-color;
				@include trans(.2s);
				&:hover{
					color: $sm-color;
				}
			}
			.middle-title{
				font-size: 14px;
				color: rgb(136, 153, 166);


			}
		}
		.panel-body{
			p{
				font-size: 14px;
			}
			.fa-user{
				@include trans(.2s);
				&:hover{
					color:$sm-color;
				}
			}
			.fa-flag{
				@include trans(.2s);
				&:hover{
					color: red;
				}
			}
			.fa-comments{
				@include trans(.2s);
				&:hover{
					color: $sm-color;
				}
			}

			.img-thumbnail{
				display: table;
				margin: 0 auto;
			}
			a{
				color: $main-color;
				@include trans(.2s);
				&:hover{
					color: $sm-color;
				}
			}
		}

		.panel-footer{
			border-top: none;
			background-color: #fff;
			
		}
		
		&:hover{
			border-top: 1px solid $sm-color;
			cursor: pointer;
			background-color: #f5f8fa;
		}
	}

}
