/* 右侧样式 */
.panel{
	h3{
		color: $title-color;
		margin-top: 0px;
	}
	.ad-slide{
	    position: relative;
	    height:150px;
	    width: 250px;
	    margin: 0 auto;
	    .ad-slide-bd ul{
	    	list-style: none;	
	    	padding: 0;
	    }
		.ad-slide-bd li{
			float: left;
			cursor: none;
			list-style: none;
			img{
				width: 250px;
				height: 150px;
			}
		}
		.slide-prev-btn,
		.slide-next-btn{
			position: absolute;
			top: 40%;
			width: 40px;
			height: 25px;
			background-color: rgba(0,0,0,.6);
			color: #fff;
			text-align: center;
			line-height: 25px;
			cursor: pointer;
			z-index: 10;
		}
		.slide-prev-btn{
		    left: 0;
		}
		.slide-next-btn{
		    right: 0;
		}
	}
	.panel-footer{
		background-color: $main-color;
		color: #fff;
	}
}