.container{
	margin-top: 20px;
	position: relative;
}
.middle{
	.panel{
		border: 1px solid $border-color;
		border-bottom: none;
		border-radius: 5px;
		margin-bottom: 0;
		@include trans(.4s);
		.panel-heading{
			border-bottom: none;
			a{

				font-size: 16px;
				color: $main-color;
				@include trans(.2s);
				&:hover{
					color: $sm-color;
				}
			}
		}
		.panel-body{
			p{
				font-size: 14px;
			}
			.fa-user{
				@include trans(.2s);
				&:hover{
					color:$sm-color;
				}
			}
			.fa-flag{
				@include trans(.2s);
				&:hover{
					color: red;
				}
			}
			.fa-comments{
				@include trans(.2s);
				&:hover{
					color: $sm-color;
				}
			}
			.img-thumbnail{
				display: table;
				margin: 0 auto;
			}
		}
		&:hover{
			border-top: 1px solid $sm-color;
		}
		.panel-footer{
			border-top: none;
			background-color: #fff;
			a{
				color: $main-color;
				@include trans(.2s);
				&:hover{
					color: $sm-color;
				}
			}
		}
	}
}
