/* 弹窗样式设置 */
.popuper{
	position: fixed;
	overflow: hidden;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.98);
	z-index: 10;
}
.pop-wrap{
	margin: 50px auto;
	box-shadow: 0 3px 9px $main-color;
	position: relative;
	background-color: #fff;
	border-radius: 5px;
	max-width: 500px;
	overflow: hidden;
	z-index: 20;
	.pop-header{
		background-color: $pop-color;
		color: #fff;
		padding: 10px;
		h3{
			font-size: 16px;
			font-weight: bold;
		}
	}
	.pop-content{
		padding: 10px 10px;
		min-height: 100px;
		p{
			color: $logo-span-color;
			font-size: 20px;
			font-weight: blod;
		}
	}

	.pop-control{
		width: 100%;
		text-align: right;
		padding: 10px 10px;
		font-size: 0;
		input{
			border: none;
			background-color: $main-color;
			color: #fff;
			border-radius: 3px;
			outline: none;
			font-size: 14px;
			padding: 5px;
			margin-left: 10px;
			@include trans(.3s);
			&:hover{
				background-color: $sm-color;
			}
		}
	}
}