.profile-background{
	width: 100%;
	height: 300px;
	background: url(/images/p1.jpg) ;
	background-size: cover;
}

.profile-navbar{
	border-bottom: 1px solid $border-color;

	.container{
		margin-top: 0;
		.profile-image{
			vertical-align: middle;
			img{
				width: 50px;
				height: 50px;
				border: 1px solid $sm-color;
			}
		}
		.profile-name{
			height: 50px;
			line-height: 50px;
			color: $main-color;
			font-size: 20px;
		}
		
	}
	.profile-navbar-items{
		vertical-align: middle;
		ul{
			list-style: none;
			font-size: 0;
			margin: 0;
			padding: 0;
			li{
				padding: 5px;
				margin: 0 15px 0 15px;
				display: inline-block;
				vertical-align: middle;
				text-decoration: none;
				a{
					display: inline-block;
					vertical-align: middle;
					text-decoration: none;
					span{
						vertical-align: middle;
						display: block;
						&:nth-of-type(1){
							font-size: 12px;
							color: $main-color;
							@include trans(.2s);

						}
						&:nth-of-type(2){
							font-size: 20px;
							color: $sm-color;
							font-weight: bold;
						}
					}
				
				}
				&:hover{
					span{
						&:nth-of-type(1){
							color: $sm-color;
						}
					}
				}
			}
		}
	}
	.user-edit{
		vertical-align: middle;
		padding: 5px;
		button{
			vertical-align: middle;
			font-size: 14px;
			padding: 10px;
			border-radius: 3px;
			border: 1px solid $border-color;
			box-shadow: 0 0 2px $border-color;
			@include trans(.2s);
			&:hover{
				background-color: $sm-color;
				color: #fff;
			}
		}
	}
	
}

.profile-paper{
	.panel{
		margin: 0;
		border: 1px solid $border-color;
		.panel-heading{
			a{
				font-weight: bold;
				font-size: 16px;
				color: $main-color;
			}
			span{
				color: rgb(136, 153, 166);
			}
		}
	}
}