<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="/admin/user/list">用户</a></li>
    <li><a href="#">消息</a></li>
    <li><a href="#">公告</a></li>
    <li><a href="#">广告</a></li>
  </ul>
</div>