  <div class=" banner">
      <!-- 背景轮播 -->
      <div class="slide" id="slide">
          <div class="slide-bd">
              <ul>
                  <li><a href="#1"><img src="images/a.jpg" alt=""/></a></li>
                  <li><a href="#2"><img src="images/b.jpg" alt=""/></a></li>
              </ul>
          </div> 
      </div>
      <div class="banner-msg" >
        <h1>欢迎使用</h1>
        <p>联系你的好友和发布更多的精彩</p>
      </div>
      <!-- 登录表单 -->
      <form id="signinForm" class="form-signin" action="" method="POST">
        <input  class="form-control" id="signinName" type="text"  name="name" placeholder="用户名称" autofocus>
        <label for="signinName" class="error"></label>
        <br/>
        <input id="signinPassword" type="password"  name="password" class="form-control signin-password" placeholder="密码" >
        <label for="signinPassword" class="error"></label>
        <br/>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me">记住我</label>
        </div>
        <button class="btn btn-primary btn-block" type="submit">登录</button>
        <a href="/">
          <h5 class="signin-msg"></h5>
        </a>
      </form>
      <!-- 注册表单 -->
      <form id="signupForm" class="form-signup" action="" method="POST">
        <input class="form-control" id="signupName" type="text"  name="name" placeholder="账号" autofocus>
        <br>
        <input id="signupPassword" type="password"  name="password" class="form-control" placeholder="密码">
        <br>
        <input id="confirm_password" type="password"  name="confirm-password" class="form-control" placeholder="确认密码">
        <br>
        <input id="email" class="form-control" type="email" name="email" placeholder="邮箱(仅支持qq和163)">
        <br>
        <button class="btn btn-primary btn-block" type="submit">注册</button>
        <a href="/"><h5 class="signup-msg"></h5></a>
      </form>
  </div>
 
