<div class="panel panel-default">
	<div class="panel-heading">
		<h1>公告</h1>
		
	</div>
	<div class="panel-body">
	   Panel content
	</div>
  <div class="panel-footer">Panel footer</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h1>广告</h1>
    Panel content

  </div>
  <div class="panel-footer">Panel footer</div>
</div>