<% if(notices){notices.forEach(function(notice,index){%>
<div class="panel panel-default">
	<div class="panel-heading">
		<h1><%= notice.title %></h1>
	</div>
	<div class="panel-body">
	   <p><%- notice.content %></p>
	</div>
  <div class="panel-footer">
  		<p><%= notice.time %></p>
  </div>
</div>
<% })} %>
<div class="panel panel-default">
  <div class="panel-body">
    <h1>广告</h1>
    Panel content
  </div>
  <div class="panel-footer">Panel footer</div>
</div>