<div class="container">
	<form class="form-horizontal" method="post" accept-charset="utf-8">
		<div class="form-group">
			<label for="inputTitle" class="col-md-1 col-sm-6 col-md-offset-2 control-label">文章标题</label>
			<div class="col-md-3">
				<input type="text" name="title" class="form-control" id="inputTitle" placeholder="文章标题" required>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<textarea rows="10" name="content" class="form-control"></textarea>
		</div>
		<div class="col-md-5 col-md-offset-4">
		<br>
		<button type="submit" class="col-md-6 btn btn-primary button">发布</button>
	</form>
</div>
