<div class="container">
    <form id="signinForm" class="form-signin" action="" method="POST">
      <input  class="form-control" id="signinName" type="text"  name="name" placeholder="用户名称" autofocus>
      <label for="signinName" class="error"></label><br/>
      <input id="signinPassword" type="password"  name="password" class="form-control" placeholder="密码" >
      <label for="signinPassword" class="error"></label><br/>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me">记住我
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
       <a href="/"><h5 class="center-block msg"></h5></a>
    </form>
  </div>
