<div class="footer">
	<p>@nljshoxbb</p>
	<div class="intro">
		<p class="shake-little shake-constant shake-constant--hover">网站由nodeJS强力驱动</p>
	</div>
	<p>
	<a href="https://github.com/nljshoxbb"><i class="fa fa-github"></i></a>&nbsp;&nbsp;<a href=""><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;</p>
</div>
</body>
</html>