<div class="footer">
	<p>@nljshoxbb</p>
	<div class="intro">
		<p class="shake-little shake-constant shake-constant--hover">网站由nodeJS强力驱动</p>
	</div>
	<p>
	<a href="https://github.com/nljshoxbb"><i class="fa fa-github"></i></a>&nbsp;&nbsp;<a href=""><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;</p>
</div>

	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/javascripts/user_main.js" ></script>
	<script src="/javascripts/index.js"></script>
	<script src="/javascripts/user_list.js" ></script>
	<script src="/javascripts/kindeditor/kindeditor-all-min.js"></script>
	<script src="/javascripts/kindeditor/lang/zh-CN.js"></script>
	</body>
</html>