<div class="footer">
	<p>Copyright@nljshoxbb</p>
	<p>网站基于nodeJS</p>
	<p>
	<a href="https://github.com/nljshoxbb"><i class="fa fa-github"></i></a>&nbsp;&nbsp;<a href=""><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;</p>
</div>

	
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/javascripts/user_main.js" ></script>
	<script src="/javascripts/index.js"></script>
	<script src="/javascripts/user_list.js" ></script>
	</body>
</html>
