<div class="footer">
	<p>Copyright@nljshoxbb</p>
	<p>网站基于nodeJS</p>
	<p>
	<a href="https://github.com/nljshoxbb"><i class="fa fa-github"></i></a>&nbsp;&nbsp;<a href=""><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;</p>
</div>

	
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/javascripts/user_main.js" ></script>
	<script src="/javascripts/index.js"></script>
	<script src="/javascripts/user_list.js" ></script>
	<script src="/javascripts/kindeditor/kindeditor-all-min.js"></script>
	<script src="/javascripts/kindeditor/lang/zh-CN.js"></script>
	<script src="/javascripts/kindeditor/themes/simple"></script>
	<script>
		var editor;
		KindEditor.ready(function(K) {
		  editor = K.create('textarea', {
		  themeType:'simple',
		  allowImageUpload : true,
		  items : [
		'source', '|', 'undo', 'redo', '|', 'preview', 'code', 'cut', 'copy', 'paste','plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright','justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
        'superscript', 'clearhtml', 'selectall', '|', 'fullscreen', '/',
        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 
        'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
        'anchor', 'link']
		  });
		});
	</script>
	</body>
</html>
