<% include header.ejs %>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand shake shake-slow shake-constant shake-constant--hover " href="#">n<span>l</span>jshoxbb</a>
      </div><!-- navbar-header -->
<!--       <form action="/search" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control"  name="keyword"><i class="fa fa-search"></i>
        </div>
      </form> -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="shake shake-little" ><a href="/"><i class="fa fa-home"></i>主页</a></li>
          <!-- 用户登录后才显示发表和上传菜单 -->
          <% if(user) { %>
            <li id="" class="shake shake-rotate"><a href="/post"><i class="fa fa-pencil-square-o"></i>吐槽</a></li>
            <!-- <li><a href="/upload">上传</a></li> -->
            <li class="shake shake-rotate" ><a href="#"><i class="fa fa-envelope-o"></i>通知</a></li>
            <li class="shake shake-crazy"><a href="/logout">退出</a></li>
            <% if(user.role>=50){%>
            <li><a href="/admin">进入管理界面</a></li>
            <% } %>
          <% } %>
          <!-- 用户未登录才显示的登录和注册菜单 -->
          <% if(!user) { %>
            <li><a href="/login">登录</a></li>
          <% } %>
        </ul>
      
      </div>
    </div>
  </nav>
