<footer class="sig_footer">
	<p>
		<span>nljshoxbb</span><span>寻找工作机会</span><span></span>
		<a href="https://github.com/nljshoxbb"><i class="fa fa-github"></i></a>&nbsp;&nbsp;<a href=""><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
	</p>
	<p>Copyright&nbsp;&nbsp;2016</p>
</footer>