<div class="user-post container">
	<form class="form-horizontal" method="post" enctype="multipart/form-data">
		<% if(paper._id){ %>
		<input type="hidden" name="paper[_id]" class="form-control" value=paper._id>
		<% } %>
		<div class="form-group">
			<label for="inputTitle" class="col-md-1 col-sm-6 col-md-offset-2 control-label">槽点</label>
			<div class="col-md-3">
				<input type="text" name="paper[title]" class="input-title form-control" id="inputTitle" placeholder="请吐槽" required>
			</div>
		</div>
		<div class="form-group">
			<label for="uploadImage" class="col-md-1 col-sm-6 col-md-offset-2 control-label"></label>
			<div class="col-md-2">
			<a class="upload-image" href="#">图片上传<input type="file" id="uploadImage"  name="uploadImage"></a>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<textarea rows="10" name="paper[content]" class="form-control"></textarea>
		</div>
		<div class="col-md-2 col-md-offset-8">
			<br>
			<button id="savePaper" type="submit" class="col-md-6 btn">发布</button>
		</div>
	</form>
</div>

<div class="popuper fadeout">
	<div class="pop-wrap fadeout">
		<header class="pop-header">
			<h3>提醒</h3>
		</header>
		<section class="pop-content">
			<p>标题重复，请换一条标题</p>
		</section>
		<section class="pop-control">
			<input type="button" class="confirm" value="确定">
			<input type="button" class="cancel" value="取消">
		</section>
	</div>
</div>